<div class="articles">
  <% articles.each do |a| %>
    <div class="article">
      <a href="<%= article_path(a.id) %>" class="article-img"><img src="<%= @urls.find_by(id: a.url_id).site_image %>" alt=""></a>
      <div class="article-text">
        <a href="<%= article_path(a.id) %>" class="article-text-title"><%= @urls.find_by(id: a.url_id).site_title %></a>
        <p class="article-text-tags">
          <% @taggings.where(article_id: a.id).each do |t| %>
            <a href="<%= tag_path(t.tag.name) %>" class="article-text-tag"><%= t.tag.name %></a>
          <% end %>
        </p>
        <a href="" class="article-text-description"><%= @urls.find_by(id: a.url_id).site_description %></a>
      </div>
    </div>
  <% end %>
</div>