<div class="body-article-index">
  This is index.

  <div class="articles">
    <% @articles.each do |a| %>
      <div class="article">
        <a href="<%= article_path(a.id) %>" class="article-img"><img src="<%= @urls.find_by(id: a.url_id).image %>" alt=""></a>
        <div class="article-text">
          <a href="<%= article_path(a.id) %>" class="article-text-title"><%= @urls.find_by(id: a.url_id).title %></a>
          <p class="article-text-tags">
            <% @taggings.where(article_id: a.id).each do |t| %>
              <a href="" class="article-text-tag"><%= t.tag.name %></a>
            <% end %>
          </p>
          <a href="" class="article-text-description"><%= @urls.find_by(id: a.url_id).description %></a>
        </div>
      </div>
    <% end %>
  </div>

  <a href="<%= new_article_path %>">New</a>
</div>

<% @taggings.each do |a| %>
  <%= a.id %>
  <%= a.tag.id %>
  <%= a.tag.user.id %>
  <%= a.tag.user.admin %>
  <br>
<% end %>