<div class="body-article-index">
  <div class="body-article-index-fixed">
    <div class="article-index-top-contents">
      <img src="assets/top7.png" alt="" width="394">
      <div class="article-index-top-content-str">
        <p>Make</p>
        <p>Your World</p>
        <p>Bigger</p>
      </div>
    </div>
  </div>
  <div class="body-article-index-relative">
    <div class="articles">
      <% @articles.each do |a| %>
        <div class="article">
          <a href="<%= article_path(a.id) %>" class="article-img"><img src="<%= a.url.site_image %>" alt=""></a>
          <div class="article-text">
            <a href="<%= article_path(a.id) %>" class="article-text-title"><%= a.url.site_title %></a>
            <p class="article-text-tags">
              <% a.taggings.each do |t| %>
                <% if t.tag.user.admin? %>
                  <a href="<%= tag_path(t.tag.name) %>" class="article-text-tag"><%= t.tag.name %></a>
                <% end %>
              <% end %>
            </p>
            <a href="" class="article-text-description"><%= a.url.site_description %></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

