This is new.

<%= form_for @article do |f| %>
  <div class="fields">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, :size => 140 %>
    </div>
    <div class="field">
      <%= f.label :text %>
      <%= f.text_field :text, :size => 140 %>
    </div>
    <div class="field">
      <%= f.label :site_url %>
      <%= f.text_field :site_url, :size => 140 %>
    </div>
  </div>
  <%= f.submit "記事を投稿する" %>
<% end %>




------------------------------------------------------------------------
<% #練習 %>
<% if false %>
<%= form_for @tagging do |f| %>
  <% @tags.each do |t| %>
    <div class="field-checkbox">
      <% #check_boxはデフォでinputが2つ生成される→trueの時とfalseの時用（https://prograshi.com/framework/rails/check_box/） %>
      <% #multiple: trueで複数保存、配列保存を可能にしている %>
      <%= f.check_box "tag_id", {multiple: true, id: "field-checkbox-#{t.id}", checked_value: "#{t.id}", unchecked_value: "", checked: true}, t.id %>
      <label for= "field-checkbox-<%= t.id %>"><%= t.name %></label>
    </div>
  <% end %>
  <%= f.submit "記事を投稿する" %>
<% end %>
<%= form_for @tag do |f| %>
  <div class="fields">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :size => 140 %>
    </div>
  </div>
  <%= f.submit "タグを追加する" %>
<% end %>
<% end %>