<div class="body-article-new body-common-margin">
  <h1>投稿ページ</h1>
  <div class="body-article-new-contents">
    <div class="article-new-left">
      <div class="article">
        <a class="article-img" id="article-img-new"><img src="" alt=""></a>
        <div class="article-text" id="article-text-new">
          <a class="article-text-title" id="article-text-title-new"></a>
          <a class="article-text-tag" id="article-text-tag-new">Tag</a>
          <a class="article-text-description" id="article-text-description-new"></a>
        </div>
      </div>
    </div>
    <div class="article-new-right">
      <div class="fields">
        <%= form_with model: @article do |f| %>
          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title, :size => 140 %>
          </div>
          <div class="field">
            <%= f.label :text %>
            <%= f.text_field :text, :size => 140 %>
          </div>
          <div class="field">
            <%= f.label :site_url %>
            <%= f.text_field :site_url, :size => 140, id: 'inputSiteUrl' %>
          </div>
          <div class="select">
            <%= f.fields_for :taggings do |t| %>
              <% @admintags&.each do |t| %>
                <div class="field-checkbox">
                  <%= f.check_box "tag_ids", {multiple: true, id: "field-checkbox-#{t.id}", checked_value: "#{t.id}", unchecked_value: ""}, t.id %>
                  <label for= "field-checkbox-<%= t.id %>"><%= t.name %></label>
                </div>
              <% end %>
              <br>
              <% @tags&.each do |t| %>
                <div class="field-checkbox">
                  <%= f.check_box "tag_ids", {multiple: true, id: "field-checkbox-#{t.id}", checked_value: "#{t.id}", unchecked_value: ""}, t.id %>
                  <label for= "field-checkbox-<%= t.id %>"><%= t.name %></label>
                </div>
              <% end %>
            <% end %>
          </div>
          <%= f.submit "記事を投稿する" %>
        <% end %>
        <%= form_with model: @tag do |n| %>
          <div class="fields">
            <div class="field">
              <%= n.text_field :name, :size => 50 %>
            </div>
          </div>
          <%= n.submit "タグを追加する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'layouts/error_form', locals: { error: @tag } %>


<script>
$(document).ready(function() {
  $(document).on('input', '#inputSiteUrl', function() {
    inputValue = $(this).val()

    $.ajax({
      type: 'GET', // リクエストのタイプ
      url: '/ajax_ogp', // リクエストを送信するURL
      data:  { inputValue: inputValue }, //日本語などを考慮してエンコード済み
      dataType: 'json' // サーバーから返却される型
    })
    .done(function(data){

      'url' in data && !data.url !== null
        ? '_value' in data.url[0] 
          ? url = data.url[0]._value 
          : url = ''
        : url = ''
        
      'type' in data && !data.type !== null
        ? '_value' in data.type[0] 
          ? type = data.type[0]._value 
          : type = ''
        : type = ''
        
      'title' in data && !data.title !== null
        ? '_value' in data.title[0] 
          ? title = data.title[0]._value 
          : title = ''
        : title = ''
        
      'description' in data && !data.description !== null
        ? '_value' in data.description[0] 
          ? description = data.description[0]._value 
          : description = ''
        : description = ''
        
      'image' in data && !data.image !== null
        ? '_value' in data.image[0] 
          ? image = data.image[0]._value 
          : image = 'n'
        : image = 'm'

      inputData = {
        site_url: url,
        site_type: type,
        title: title,
        description: description,
        image: image
      }

      $("#article-img-new").children('img').attr('src', inputData.image)
      $("#article-text-title-new").text(inputData.title)
      $("#article-text-description-new").text(inputData.description)
      
    })
    .fail(function(){
      console.log('aaa')
    });
  });
});
</script>