<div class="body-article-show">
  <div class="body-article-show-contents">
    <div class="article-left">
      <div class="article-url-info">
        <h1><%= @article.url.site_title %></h1>
        <p class="article-url-info-tags">
          <% @article.taggings.each do |t| %>
            <% if t.tag.user.admin? %>
              <a href="<%= tag_path(t.tag.name) %>" class="article-text-tag"><%= t.tag.name %></a>
            <% end %>
          <% end %>
        </p>
        <div class="article-url-info-detail">
          <p>詳細</p>
          <p><%= @article.url.site_description %></p>
        </div>
      </div>
      <div class="article-url-info-bottom">
        <p class="article-url-info-img"><a href="<%= @article.url.site_url %>" target="_blank" rel="noopener noreferrer"><img src="<%= @article.url.site_image %>" alt=""></a></p>
      </div>
    </div>
    <div class="article-right">
      <% if user_signed_in? %><%# 先にここの判別をしないとcurrent_user.idでエラーが出る %>
        <% if @article.user_id = current_user.id %>
          <div class="article-detail-body">
            <p>投稿メモ</p>
            <ul>
              <li><%= @article.title %></li>
              <li><%= @article.text %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
      <div class="article-comment-container">
        <% if user_signed_in? %>
          <div class="article-comment-post">
            <p>コメントする</p>
            <%= form_with(model: [@article, @comment], local: true) do |f| %>
              <%= f.text_area :content %>
              <%= button_tag type: "submit" do %>
                <i class="far fa-comments"></i> コメントする
              <% end %>
            <% end %>
          </div>
          <div class="article-comment-body">
            <p>コメント一覧</p>
            <div class="article-comments">
              <ul>
                <% @comments.reverse.each do |c| %>
                  <li>
                    <%= c.content %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% else %>
          <div class="article-comment-login">
            <p>ログインしてコメントを残そう</p>
            <a href="<%= new_user_session_path %>">Login</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>