This is show.
<%= @article.id %>

<div class="article-container-show">
  <div class="article-show">
    <p><%= @article.title %></p>
    <p><%= @article.text %></p>
  </div>
  <div class="comment-container">
    <% if user_signed_in? %>
      <p>コメント一覧</p>
      <% @comments.each do |c| %>
        <div>
          <%= c.content %>
        </div>
      <% end %>
      <%= form_with(model: [@article, @comment], local: true) do |f| %>
        <%= f.text_area :content %>
        <%= button_tag type: "submit" do %>
          <i class="far fa-comments"></i> コメントする
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>