<div class="admin-body">
  <%= render 'admin_shared' %><%#←ここは部分テンプレートを用いている %>
  <div class="admin-body-article">
    <div class="article-table">
      <table>
        <tr>
          <th class="article-table-id">id</th>
          <th class="article-table-title">title</th>
          <th class="article-table-text">text</th>
          <th class="article-table-site_url">site_url</th>
          <th class="article-table-create">created_at</th>
          <th class="article-table-update">updated_at</th>
        </tr>
        <% @articles.each do |a| %>
          <tr>
            <td><div class="td"><%= a.id %></div></td>
            <td><div class="td"><%= a.title %></div></td>
            <td><div class="td"><%= a.text %></div></td>
            <td><div class="td"><%= a.site_url %></div></td>
            <td><div class="td"><%= a.created_at %></div></td>
            <td><div class="td"><%= a.updated_at %></div></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>