<div class="body-comment-list">
  This is comment list.

  <div class="comennt-table">
    <table>
      <tr>
        <th class="comennt-table-id">id</th>
        <th class="comennt-table-content">content</th>
        <th class="comennt-table-user_id">user_id</th>
        <th class="comennt-table-article_id">article_id</th>
        <th class="comennt-table-create">created_at</th>
        <th class="comennt-table-update">updated_at</th>
      </tr>
      <% @comments.each do |c| %>
        <tr>
          <td><%= c.id %></td>
          <td><%= c.content %></td>
          <td><%= c.user_id %></td>
          <td><%= c.article_id %></td>
          <td><%= c.created_at %></td>
          <td><%= c.updated_at %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

