<div class="body-users-show body-common-margin">
  <% if current_user.id == @user.id %>
    <h1>マイページ</h1>
  <% else %>
    <h1>ユーザーページ</h1>
  <% end %>
  <div class="body-users-show-top">
    <%= image_tag @user.userimage_url, size: "250x200" if @user.userimage? %>
    <a><%= @user.username %></a>
    <a><%= @user.email %></a>
    <% if current_user.id == @user.id %>
      <%= link_to "編集する", edit_user_registration_path %>
    <% end %>
  </div>
  <div class="body-users-show-comment">
    <% if current_user.id == @user.id %>
      <h2>コメントした記事一覧</h2>
      <div class="user-articles">
        <% @user_comment_articles.each do |ua| %>
          <div class="article">
            <a href="<%= article_path(ua.id) %>" class="article-img"><img src="<%= Url.find_by(id: ua.id).site_image %>" alt=""></a>
            <div class="article-text">
              <a href="<%= article_path(ua.id) %>" class="article-text-title"><%= Url.find_by(id: ua.id).site_title %></a>
              <p class="article-text-tags">
                <% @taggings.where(article_id: ua.id).each do |tg| %>
                  <a href="<%= tag_path(tg.tag.name) %>" class="article-text-tag"><%= tg.tag.name %></a>
                <% end %>
              </p>
              <a href="" class="article-text-description"><%= Url.find_by(id: ua.id).site_description %></a>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h2>投稿した記事一覧</h2>
      <div class="user-articles">
        <% @user_post_articles.each do |ua| %>
          <div class="article">
            <a href="<%= article_path(ua.id) %>" class="article-img"><img src="<%= Url.find_by(id: ua.id).site_image %>" alt=""></a>
            <div class="article-text">
              <a href="<%= article_path(ua.id) %>" class="article-text-title"><%= Url.find_by(id: ua.id).site_title %></a>
              <p class="article-text-tags">
                <% @taggings.where(article_id: ua.id).each do |tg| %>
                  <a href="<%= tag_path(tg.tag.name) %>" class="article-text-tag"><%= tg.tag.name %></a>
                <% end %>
              </p>
              <a href="" class="article-text-description"><%= Url.find_by(id: ua.id).site_description %></a>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
