<div class="body-user-list">
  This is user list.

  <div class="user-table">
    <table>
      <tr>
        <th class="user-table-id">id</th>
        <th class="user-table-username">username</th>
        <th class="user-table-email">email</th>
        <th class="user-table-admin">admin</th>
        <th class="user-table-create">created_at</th>
        <th class="user-table-update">updated_at</th>
      </tr>
      <% @users.each do |u| %>
        <tr>
          <td><%= u.id %></td>
          <td><%= u.username %></td>
          <td><%= u.email %></td>
          <td><%= u.admin %></td>
          <td><%= u.created_at %></td>
          <td><%= u.updated_at %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

